:root {
  --black: #111111;
  --grey: #333333;
  --lightgrey: #4a4a4a;
  color-scheme: dark;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.box {
  margin: auto;
  width: 60%;
  border: 5px solid #221b1b;
  padding: 10px;
}

p {
  text-align: center;
}

.centeredElements {
  margin: auto;
  width: 29%;
}

.rounded-button {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  transition: 0.2s;
  text-decoration: none;
  color: aliceblue;
}

.rounded-button:hover {
  opacity: 0.6;
}